appdirs==1.4.3
beautifulsoup4==4.5.3
bs4==0.0.1
clarifai==2.0.20
click==6.7
configparser==3.5.0
Flask==0.12.1
functools32==3.2.3.post2
future==0.15.2
gunicorn==19.7.1
httplib2==0.10.3
itsdangerous==0.24
Jinja2==2.9.5
jsonschema==2.5.1
MarkupSafe==1.0
oauth2==1.9.0.post1
packaging==16.8
Pillow==2.9.0
pyparsing==2.2.0
requests==2.13.0
six==1.10.0
splitwise==0.0.5
Werkzeug==0.12.1
