<!DOCTYPE html>
<html>
<head>
  <title></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

 <style>
      .btn-primary {
        margin: 15px
      }
    </style>
</head>
<body>

<div class="container">
<div class="jumbotron">
<h1></h1>
<h2> Upload pic </h2>
  <form action="/upload" method="post" enctype="multipart/form-data">
    <input class="btn-primary" type="file" name="file[]" accept="image/*">
    <input class="btn-primary" type="submit">
  </form>
</div>
</div>
</body>
</html>