<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>foodwise-ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FFE5B1291E9074650031D9A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFE5B13D1E9074650031D9A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FFE5B1481E9074650031D9A4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
